@use "./widgets/recorder-popup.scss";
@use "./variables.scss" as variables;

* {
  font-family: "CaskaydiaCove NF";
}

.bar {
  padding: 10px 20px 0;
  background-color: rgba(0, 0, 0, 0);
}

.group {
    background-color: variables.$color-bg;
    padding: 5px 15px;
    border-radius: 5px;
}

.workspaces {
    .workspace-btn {
        all: unset;
        padding: 5px 10px;
        margin: 0 2px;
        border-radius: 4px;
        background-color: variables.$color-gray-l;
        border: 1px solid variables.$color-gray-l;
        font-weight: 500;
        color: variables.$color-bg;
        transition: .3s;

        &.active {
          background-color: variables.$color-fg;
          border-color: variables.$color-bg;
          font-weight: bold;
          color: variables.$color-bg;
        }

        &:hover {
            background-color: variables.$color-bg1;
            border-color: variables.$color-fg1;
            color: variables.$color-fg1;
        }
    }
}

.window-box {
    color: variables.$color-fg;
}

.divider {
    background-color: variables.$color-fg;
    min-width: 2px;
    min-height: 2px;
    margin: 4px 8px;
}

.clock {
    color: variables.$color-fg;
}

.kb-box {
    padding: 0 5px;
}
.kb-label {
    color: variables.$color-fg;
}

.network-btn {
    all: unset;
    padding: 5px 10px;
    margin: 0 2px;
    border-radius: 4px;
    background-color: variables.$color-fg;
    border: 1px solid variables.$color-bg;
    font-weight: 500;
    color: variables.$color-bg;
    transition: .3s;

    &:hover {
        background-color: variables.$color-bg1;
        border-color: variables.$color-fg1;
        color: variables.$color-fg1;
    }
}

.volume {
    color: variables.$color-fg;
}

.sys-box {
    color: variables.$color-fg;
}
