$color-transparent: rgba(0, 0, 0, 0);
$color-red-d: #cc241d;
$color-red-d: #d65d0e;
$color-green-d: #98971a;
$color-yellow-d: #d79921;
$color-blue-d: #458588;
$color-purple-d: #b16286;
$color-aqua-d: #689b6a;
$color-gray-d: #928374;

$color-red-l: #fb4934;
$color-red-l: #fe8019;
$color-green-l: #b8bb26;
$color-yellow-l: #fabd2f;
$color-blue-l: #83a598;
$color-purple-l: #d3869b;
$color-aqua-l: #8ec07c;
$color-gray-l: #a89984;

$color-bg0_h: #1d2021;
$color-bg: #282828;
$color-bg1: #3c3836;
$color-bg2: #504945;
$color-bg3: #665c54;

$color-fg0: #fbf1c7;
$color-fg: #ebdbb2;
$color-fg1: #d5c4a1;
$color-fg2: #bdae93;
$color-fg3: #a89984;
